@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  @apply bg-gray-50 text-gray-600 dark:bg-gray-700 dark:text-gray-50;
  -webkit-font-smoothing: antialiased;
}

@keyframes apper {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

